/*
* Tailwind generates prose classes that has specificity of (0,1,0), element-only
* selectors aren't enough to overwrite them, so we add `.prose` class
*/
.prose {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:target {
      @apply scroll-mt-24;
    }

    &:hover .anchor-link {
      @apply opacity-100;
    }
  }

  a {
    @apply no-underline;

    &:hover {
      @apply underline underline-offset-[0.5ex];
    }
  }

  .anchor-link {
    @apply ml-2 text-[--color-link-inactive];
    @apply transition-[opacity,color] duration-100;
    @apply opacity-0 focus-visible:opacity-100;

    &:hover {
      @apply text-accent no-underline;
    }

    .icon-link::before {
      @apply content-['#'];
    }
  }

  img {
    @apply rounded-global shadow-lg;
  }

  figure > figcaption {
    @apply text-center italic font-medium text-[--color-quotes];
  }

  table {
    @apply my-0;
  }

  thead {
    @apply bg-[--color-th-bg];
  }

  thead th,
  tbody td {
    @apply p-4 md:px-6;
  }

  :not(pre) > code {
    @apply text-[--color-code-fg] bg-[--color-code-bg] rounded-md;
    @apply py-[0.25em] px-[0.45em];
    @apply before:content-[''] after:content-[''];
  }

  pre {
    @apply p-0;
  }

  pre > code:not([data-language]) {
    @apply pl-4;
  }

  pre > code {
    @apply grid overflow-x-auto py-4 bg-[--color-pre-code-bg];
    @apply border border-[--color-pre-code-borders] rounded-inherit;

    > [data-line] {
      @apply pl-4 border-l-[length:--pre-code-line-highlight-border-width] border-l-transparent;
    }

    > [data-highlighted-line] {
      @apply border-l-[--color-pre-code-line-highlight-border];
      @apply bg-[--color-pre-code-line-highlight];
    }
  }

  pre > code[data-line-numbers] {
    --_counter-width: 1ch;
    counter-reset: line;

    > [data-line]::before {
      counter-increment: line;
      content: counter(line);
      @apply inline-block w-[--_counter-width] mr-4 text-right text-inherit;
    }

    &[data-line-numbers-max-digits="2"] {
      --_counter-width: 2ch;
    }

    &[data-line-numbers-max-digits="3"] {
      --_counter-width: 3ch;
    }

    &[data-line-numbers-max-digits="4"] {
      --_counter-width: 4ch;
    }
  }

  [data-rehype-pretty-code-title] {
    @apply text-[--color-pre-code-title-fg] bg-[--color-pre-code-title-bg];
    @apply border-t border-x border-[--color-pre-code-borders] rounded-t-global;
    @apply px-4 py-2;

    + pre {
      @apply mt-0 rounded-t-none;
    }
  }

  [data-rehype-pretty-code-caption] {
    @apply text-center italic font-medium text-sm text-[--color-captions] mt-3;
  }

  [data-highlighted-chars] {
    @apply bg-[--color-pre-code-highlighted-chars] p-[0.2em] rounded-md;
  }
}

/* remove dark theme code blocks in light mode and vice-versa */
:root[data-theme="dark"]
  [data-rehype-pretty-code-fragment]
  [data-theme="light"] {
  @apply hidden;
}

:root[data-theme="light"]
  [data-rehype-pretty-code-fragment]
  [data-theme="dark"] {
  @apply hidden;
}
