@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --px-padding: 1rem;
    @apply md:[--px-padding:2rem] lg:[--px-padding:3rem];
  }

  body {
    @apply transition-colors duration-200;
  }
}

@layer components {
  .post-img {
    @apply aspect-5/3 rounded-md object-cover;
  }

  .tag {
    @apply text-sm font-medium px-3 py-1 rounded-full inline-block;
  }

  .copy-btn {
    @apply absolute top-2 right-2 p-1.5;
    @apply rounded-global opacity-0 bg-background-tertiary text-foreground-secondary;
    @apply transition-[opacity,transform];
    @apply active:scale-90 focus-visible:opacity-100;
  }

  pre:hover .copy-btn {
    @apply opacity-80;
  }

  pre:hover .copy-btn:hover {
    @apply opacity-100;
  }
}

@layer utilities {
  .max-w-container-center {
    @apply max-w-screen-2xl mx-auto px-[--px-padding];
  }
}
